In [1]:
import pandas as pd
import numpy as np
import pylab as plt
import sys
sys.path.append('/Users/denismariano/pcloud/mypy')
import xuleta as xu
from scipy import stats
from functools import reduce
import os
month_names = pd.date_range(start='2016-01-01', periods=12, freq='MS').strftime('%b')


#for SQL
from sqlalchemy import create_engine
engine = create_engine('postgresql://denis:sinedoom48@localhost:5432/drought')
fout = '/Users/denismariano/pcloud/PB_carlos/Document/elsevier_sample/images/'#mac
fout = '/home/denis/pcloud/PB_carlos/Document/elsevier_sample/images/' #ubuntu

https://stats.stackexchange.com/questions/235039/statsmodels-clarification-on-varp-results-attribute-results-forecast-interva

In [2]:
#FUNCTION to calculate weighted average
def weightaverage(var,lista):
    '''
        var = dataframe
        lista = group of columns
        ux = upper extreme value - it can be set to None 
        lx = lower extreme value - it can be set to None
    '''
    import pandas as pd
    pd.options.mode.chained_assignment = None #error omit
    a = aux[aux['geocodig_m'].isin(lista)]
    a['w'] = a.area/sum(a.area)
    a = a.drop(['sigla','nome_munic','area'],axis=1)
    a.T.to_csv('Xaux.csv',header=False,index=None)
    aw = pd.read_csv('Xaux.csv')
    os.remove('Xaux.csv')
    aw = aw.sort_index(axis=1)
    l2 =  list(map(float, aw.columns))

#weight values and get the weighted average
    var_aw = pd.DataFrame(var[l2].values*aw.values, columns=aw.columns,index=var[l2].index)
    var_final = var_aw.sum(axis=1,skipna=True)
    var_final.index = pd.DatetimeIndex(var_final.index)
    #var_final.columns = ['values']
    return var_final

In [3]:
def piv_table(var,lista,resample='M'):
    region_var = weightaverage(var,lista)
    region_var = pd.DataFrame(region_var)
    region_var.columns = ['values']
    region_var = region_var.resample('M').mean()

    region_var['year'] = region_var.index.year
    region_var['month'] = region_var.index.month
    region_var_piv = region_var.pivot(index='year', columns='month', values='values')
    region_var_piv.columns = month_names
    return region_var_piv

In [4]:
cern = [2300705,2304277,2306009,2306702,2306801,2306900,2307601,2308708,2311231,2311504,2312502,2313104,2400505,
         2400604,2400901,2401008,2401305,2401453,2402303,2403707,2403905,2404002,2404309,2404903,2405207,2405603,
         2405900,2406007,2406908,2407005,2407252,2407302,2407401,2407609,2408003,2408409,2408607,2409308,2409407,
         2410009,2410207,2410603,2410702,2410801,2411007,2411908,2413409,2413557,2413607,2413805,2414100,2414308,
         2414456,2414506,2414605,2414902,2502003,2502300,2502805,2502904,2504306,2507408,2509370,2510907,2512036,
         2512804,2513208,2513653,2513901,2514651,2516904]
nd6 = [2300705,2306702,2306801,2306900,2308708] #
nd5 = [2301505,2305605,2313302]
nd4 = [2601607,2603009,2605707,2607406,2610400,2611002,2612208]
nd3 = [2400109,2402402,2403004,2403103,2403400,2408904,2501708,2503407,2503902,2504702,2504074,
      2504850,2505006,2506202,2506509,2501105,2510303,2510659,2510808,2511103,2511400,2513406,
       2513851,2514107,2514701,2514800,2514909,2515401,2515500,2516508,2517100] #2516755
nd2 = [2302800,2306108,2308377,2312205]
nd1 = [2201309,2202901,2204402,2206605,2208700,2208858,2209757]
pi1 = [2202307,2202505,2205532,2210953,2201988,2203800,2205102,2205359,2207355,2208874]
pi2 = [2202109,2202778,2203859,2204907,2207009,2209104,2209500,2210805,2211506,2211704]
ba1 = [2903805,2911907,2912608,2919009,2920809,2927200,2901304,2915007,2922854]
ba2 = [2915353,2918506,2929255,2923357,2921401,2917508] 
al1 = [2600500,2606507,2607505,2700706,2700904,2701209,2701605,2701803,2702355,2702504,2703304,
       2703403,2704401,2704609,2705408,2705705,2705804,2706000,2706109,2706208,2706406,2707107,
       2707206,2708006,2708402,2708956]

lr = [nd1,nd2,nd3,nd4,nd5,nd6,pi1,pi2,ba1,ba2,cern,al1]
lrn = ['nd1','nd2','nd3','nd4','nd5','nd6','pi1','pi2','ba1','ba2','cern','al1']

lr = [nd1,nd2,nd3,nd4,nd5,pi1+pi2,ba1+ba2,cern]
lrn = ['nd1','nd2','nd3','nd4','nd5','pi1+pi2','ba1+ba2','cern+nd6']

%%time
#FROM SQL Database
# Data ananlysis V2 - resubmission
lai = pd.read_sql("SELECT * FROM consultas_br.lai_neb",engine).pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()*0.01

et = pd.read_sql("SELECT * FROM consultas_br.et_neb",engine).pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()*0.1
albedo = pd.read_sql("SELECT * FROM consultas_br.albedo_neb",engine).pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()*0.001
prec = pd.read_sql("SELECT * FROM consultas_br.chirps_prec_muni",engine).pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()
aux = pd.read_sql("SELECT * FROM consultas_br.aux",engine)

In [5]:
%%time
datafolder = "../SQL/"
# Data ananlysis V2 - CSV version - resubmission
lai = pd.read_csv(datafolder+"drought_consultas_br_lai_neb.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()*0.01

et = pd.read_csv(datafolder+"drought_consultas_br_et_neb.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()*0.1
albedo = pd.read_csv(datafolder+"drought_consultas_br_albedo_neb.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()*0.001
prec = pd.read_csv(datafolder+"drought_consultas_br_chirps_prec_muni.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()

aux = pd.read_csv(datafolder+"drought_consultas_br_aux.csv")

CPU times: user 6.31 s, sys: 472 ms, total: 6.78 s
Wall time: 6.75 s

In [6]:
preca = pd.read_csv(datafolder+"drought_consultas_br_prec_abs_neb.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean")

datafolder = "../SQL/"

prec = pd.read_csv(datafolder+"drought_consultas_br_chirps_prec_muni.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()
zprec = pd.read_csv(datafolder+"drought_consultas_br_chirps_zscore_muni.csv").pivot_table(index="acquisition",
                   columns="geocodig_m",
                   values="mean").interpolate()

In [7]:
dates = ['2002-08','2016-12']

def construir(reg,dates,w=1):
    '''
        w: int, rolling mean window
    '''
    if w == 1:
        e = weightaverage(et,reg).loc[dates[0]:dates[1]].to_frame()
        l = weightaverage(lai,reg).loc[dates[0]:dates[1]].to_frame()
        a = weightaverage(albedo,reg).loc[dates[0]:dates[1]].to_frame()
        #p = weightaverage(prec,reg).loc[dates[0]:dates[1]].to_frame()
        pp = weightaverage(preca,reg).loc[dates[0]:dates[1]].to_frame()
    if w > 1:
        e = weightaverage(et,reg).loc[dates[0]:dates[1]].rolling(w).mean().to_frame().fillna(method='bfill')
        l = weightaverage(lai,reg).loc[dates[0]:dates[1]].rolling(w).mean().to_frame().fillna(method='bfill')
        a = weightaverage(albedo,reg).loc[dates[0]:dates[1]].rolling(w).mean().to_frame().fillna(method='bfill')
        #p = weightaverage(prec,reg).loc[dates[0]:dates[1]].rolling(w).mean().to_frame().fillna(method='bfill')
        pp = weightaverage(preca,reg).loc[dates[0]:dates[1]].rolling(w).mean().to_frame().fillna(method='bfill')
    dfs = [e,l,a,pp]
    final = reduce(lambda left,right: pd.merge(left,right, how='outer',
                                               right_index=True,left_index=True), dfs)
    final.columns = [['ET','LAI','Albedo','Prec']]
    final = final.interpolate('values',limit_direction='both')
    return final

In [8]:
w = 4
df_c = construir(cern,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_1 = construir(nd1,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_2 = construir(nd2,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_3 = construir(nd3,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_4 = construir(nd4,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_5 = construir(nd5,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_b = construir(ba1+ba2,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_p = construir(pi1+pi2,dates,w=w).resample('W').mean().loc['2002-08':'2016-12']
df_c.columns

Index(['ET', 'LAI', 'Albedo', 'Prec'], dtype='object')

In [178]:
regs = [df_1,df_2,df_3,df_4,df_5,df_c,df_b,df_p]
regsn = ['ND1','ND2','ND3','ND4','ND5','ND6+CERN','BA1+BA2','PI1+PI2']
#df = pd.DataFrame(columns = ['%ET','%LAI','%Albedo','%Prec'])
df1 = pd.DataFrame(columns = ['ET','LAI','Albedo','Prec'])
df2 = df1.copy()

for i,j in zip(regs,regsn):
    teste = i.groupby(by=[i.index.year]).aggregate(np.nanmean)
    result = (teste.loc[2003:2017].median(axis=0)-teste.loc[2003:2011].median(axis=0))*100/teste.loc[2003:2011].median(axis=0)
    #df.loc[j] = np.round(np.asarray(result),2)
    df1.loc[j] = np.asarray(teste.loc[2003:2011].median(axis=0))
    df2.loc[j] = np.asarray(teste.loc[2003:2017].median(axis=0))
#df1['1Prec'] = df1['1Prec']*12
#df2['2Prec'] = df2['2Prec']*12

In [230]:
regs = [df_1,df_2,df_3,df_4,df_5,df_c,df_b,df_p]
regsn = ['ND1','ND2','ND3','ND4','ND5','ND6+CERN','BA1+BA2','PI1+PI2']
#df = pd.DataFrame(columns = ['%ET','%LAI','%Albedo','%Prec'])
df1 = pd.DataFrame(columns = ['ET','LAI','Albedo','Prec'])
df2 = df1.copy()
for i,j in zip(regs,regsn):
    #FILL THEM ALL, Precipitation is valid
    mensal = i.groupby(by=[i.index.year,i.index.month]).aggregate(np.nanmean)
    anual = mensal.groupby(level=0).aggregate(np.sum)
    df1.loc[j] = np.asarray(anual.loc[2003:2011].median(axis=0))
    df2.loc[j] = np.asarray(anual.loc[2003:2017].median(axis=0))
    
    #FILL ET
    mensal = i.groupby(by=[i.index.year,i.index.month]).aggregate(np.nansum)
    anual = mensal.groupby(level=0).aggregate(np.sum)
    df1.loc[j].ix['ET'] = anual.loc[2003:2011].median(axis=0)[0]#0 is ET
    df2.loc[j].ix['ET'] = anual.loc[2003:2017].median(axis=0)[0]
    
    #albedo and LAI
    mensal = i.groupby(by=[i.index.year,i.index.month]).aggregate(np.nanmean)
    anual = mensal.groupby(level=0).aggregate(np.mean)
    df1.loc[j].ix['LAI'] = anual.loc[2003:2011].median(axis=0)[1]
    df2.loc[j].ix['LAI'] = anual.loc[2003:2017].median(axis=0)[1]
    
    df1.loc[j].ix['Albedo'] = anual.loc[2003:2011].median(axis=0)[2]
    df2.loc[j].ix['Albedo'] = anual.loc[2003:2017].median(axis=0)[2]

In [231]:
df1

                  ET       LAI    Albedo         Prec
ND1       626.500572  0.171882  0.149442  1110.941944
ND2       615.146697  0.173757  0.161047   788.512972
ND3       470.716738  0.139301  0.165199   666.110903
ND4       417.859840  0.217185  0.149031   538.488553
ND5       592.623480  0.132293  0.162853   596.679231
ND6+CERN  598.370741  0.174007  0.164957   802.560801
BA1+BA2   532.501691  0.151829  0.160728   592.447639
PI1+PI2   674.239938  0.190622  0.148860   853.580932

In [232]:
df2

                  ET       LAI    Albedo         Prec
ND1       631.830186  0.165459  0.150046  1039.152067
ND2       472.092890  0.151243  0.160355   647.305636
ND3       354.455530  0.114107  0.166246   511.968360
ND4       326.458218  0.204787  0.150553   478.878853
ND5       487.185419  0.116963  0.163653   497.986984
ND6+CERN  440.181882  0.159715  0.167925   670.822397
BA1+BA2   508.649759  0.142248  0.161267   577.535201
PI1+PI2   585.631022  0.184154  0.148639   785.967787

In [233]:
pc = (df2-df1)*100/df1
pc

                 ET        LAI    Albedo       Prec
ND1        0.850696  -3.736846  0.403937  -6.462073
ND2      -23.255234 -12.957340 -0.429756 -17.908055
ND3      -24.698762 -18.086096  0.633558 -23.140673
ND4      -21.873751  -5.708718  1.021385 -11.069817
ND5      -17.791745 -11.588163  0.491433 -16.540252
ND6+CERN -26.436597  -8.213556  1.799029 -16.414757
BA1+BA2   -4.479222  -6.310245  0.334968  -2.517090
PI1+PI2  -13.142045  -3.393066 -0.148054  -7.921117

In [201]:
#PRECIPITATION
i = df_c
mensal = i.groupby(by=[i.index.year,i.index.month]).aggregate(np.nanmean)
anual = mensal.groupby(level=0).aggregate(np.sum)
anual.loc[2003:2011].median(axis=0)[0]

144.45319803871149

In [198]:
anual.loc[2003:2017].median(axis=0)

ET        110.058781
LAI         1.916584
Albedo      2.015101
Prec      670.822397
dtype: float64

In [199]:
#ET
i = df_c
mensal = i.groupby(by=[i.index.year,i.index.month]).aggregate(np.nansum)
anual = mensal.groupby(level=0).aggregate(np.sum)
anual.loc[2003:2011].median(axis=0)

ET         598.370741
LAI          8.320581
Albedo       7.767768
Prec      3180.105315
dtype: float64

In [200]:
anual.loc[2003:2017].median(axis=0)

ET         440.181882
LAI          7.437853
Albedo       7.917252
Prec      2681.376146
dtype: float64

In [207]:
#albedo e lai
i = df_c
mensal = i.groupby(by=[i.index.year,i.index.month]).aggregate(np.nanmean)
anual = mensal.groupby(level=0).aggregate(np.mean)
anual.loc[2003:2011].median(axis=0)

ET        12.037767
LAI        0.174007
Albedo     0.164957
Prec      66.880067
dtype: float64

In [142]:
print(df.to_latex(bold_rows=False))
print('\n')
print(df1.to_latex(bold_rows=False))
print('\n')
print(df2.to_latex(bold_rows=False))

\begin{tabular}{lrrrr}
\toprule
{} &    \%ET &   \%LAI &  \%Albedo &  \%Prec \\
\midrule
ND1      &   0.66 &  -3.88 &     0.40 &  -6.91 \\
ND2      & -27.43 & -14.89 &    -0.43 & -21.81 \\
ND3      & -34.99 & -22.08 &     0.63 & -30.11 \\
ND4      & -29.45 &  -6.05 &     1.01 & -12.45 \\
ND5      & -20.99 & -13.11 &     0.49 & -19.82 \\
ND6+CERN & -31.25 &  -8.95 &     1.77 & -19.64 \\
BA1+BA2  &  -7.18 &  -6.74 &     0.33 &  -2.58 \\
PI1+PI2  & -20.30 &  -3.51 &    -0.15 &  -8.60 \\
\bottomrule
\end{tabular}



\begin{tabular}{lrrrr}
\toprule
{} &         1ET &       1LAI &   1Albedo &        1Prec \\
\midrule
ND1      &  626.500572 &   8.007205 &  7.031542 &  4163.680713 \\
ND2      &  615.146697 &   8.178722 &  7.537709 &  3104.902347 \\
ND3      &  470.716738 &   6.509095 &  7.757965 &  2631.759818 \\
ND4      &  417.859840 &  10.177150 &  7.004719 &  2048.965474 \\
ND5      &  592.623480 &   6.216716 &  7.541244 &  2472.798105 \\
ND6+CERN &  598.370741 &   8.320581 &  7.767768 &  3180.105315 \\
BA1+BA2  &  532.501691 &   7.130668 &  7.545224 &  2308.102709 \\
PI1+PI2  &  674.239938 &   8.909052 &  7.010007 &  3359.403807 \\
\bottomrule
\end{tabular}



\begin{tabular}{lrrrr}
\toprule
{} &         2ET &      2LAI &   2Albedo &        2Prec \\
\midrule
ND1      &  631.830186 &  7.767699 &  7.059050 &  4074.393296 \\
ND2      &  472.092890 &  7.101201 &  7.501312 &  2618.911799 \\
ND3      &  354.455530 &  5.437604 &  7.857557 &  1956.247137 \\
ND4      &  326.458218 &  9.812034 &  7.178063 &  1907.623773 \\
ND5      &  487.185419 &  5.482763 &  7.689003 &  1931.477649 \\
ND6+CERN &  440.181882 &  7.437853 &  7.917252 &  2681.376146 \\
BA1+BA2  &  508.649759 &  6.693008 &  7.590019 &  2240.735463 \\
PI1+PI2  &  585.631022 &  8.411640 &  7.031518 &  3035.208109 \\
\bottomrule
\end{tabular}