### Database works.
In this **notebook** we have a lot of good stuff:

In [1]:
%load_ext sql
import os, getpass, time, xuleta
from glob import glob

user = input("Username: ")
password = getpass.getpass('Enter your password: ')
database = input("Database: ")
connection_string = "postgresql://%s:%s@localhost/%s" %(user,password,database)
%sql $connection_string

Username: denis
Enter your password: ········
Database: drought

'Connected: denis@drought'

### INPUT PARAMETERS
Make sure the **table** matches the list provide in the NODATA DICTIONARY block

In [2]:
schema = "chirpsX"
table = "prec_abs"
imfolder = "/home/denis/Downloads/1ano/clipped/"

In [18]:
try:
    xuleta.renamedate(imfolder,oldf="%Y-%j",newf="%Y-%m-%d",wts=0)
    print('Filenames converted to Y-m-d')
except:
    print('filenames already in Y-m-d format')

Done!
Filenames converted to Y-m-d

In [4]:
t0 = time.time()
#avoiding cagadas when inputing the image folder
if imfolder[-1] != "/":
    imfolder = imfolder + "/"
# NODATA DICTIONARY
nodatas = {}
# Fill in the entries one by one
nodatas["gpp"] = 32767
nodatas["lai"] = 255
nodatas["albedo"] = 32767
nodatas["psn"] = 32767
nodatas["ndvi"] = -20000 #usar o convertido para int16, cheaper!
nodatas["lstd"] = 65535
nodatas["lstn"] = 65535
nodatas["vpd"] = -32768
nodatas["zscore_dec"] = -32768
nodatas["anom_dec"] = -32768
nodatas["prec_abs"] = -32768
nodatas["t04"] = -9999 #for ESI
nodatas["t12"] = -9999 #for ESI
nodatas["prec"] = -9999 #for raw precipitation
nodatas["et_myd"] = 32767 #for Modis ET
nodatas["et_mod"] = 32767 #for Modis ET
nodatas["mcd43a3_raw"] = 254
nodatas["mcd43a3_anom"] = 32767
nodatas["mcd15a2h_raw"] = 254
nodatas["mcd15a2h_anom"] = 32767
nodatas["mxd16a2_raw"] = 0
nodatas["mxd16a2_anom"] = 32767


#and set the nodata value to be used from now on
nodata = str(nodatas[table])
print("nodata value for %s is set to %s" %(table.upper(),nodata))

nodata value for PREC_ABS is set to -32768

### Creating Schema and table

It might not be necessary to create a schema.

In [5]:
SQL = ("CREATE SCHEMA %s;" %(schema))
%sql $SQL

Done.

[]

In [6]:
#CREATING TABLE
SQL = ("""
CREATE TABLE %s.%s(
rid serial NOT NULL,
rast RASTER,
filename text,
acquisition date,
CONSTRAINT %s_%s_pkey
PRIMARY KEY (rid));
CREATE INDEX %s_%s_wkb_rast_idx
ON %s.%s
USING GIST (ST_ConvexHull(rast)); """ 
       %(schema,table,schema,table,schema,table,schema,table))
%sql $SQL

Done.
Done.

[]

In [7]:
%%time
comment = table.upper() + " data for " + schema + "."
SQL = ("""
COMMENT ON TABLE %s.%s 
IS '%s'
"""
    %(schema,table,comment))
%sql $SQL

Done.
CPU times: user 2.07 ms, sys: 850 µs, total: 2.92 ms
Wall time: 82.4 ms

### Importing images to the database

You can watch the verbose in the terminal to make sure that things are going ok.

In [8]:
importraster = "raster2pgsql -a -C -F -M -s 4326 -t 100x100 -N %s %s*.tif %s.%s | psql -p 5432 -d drought -U denis" %(nodata,imfolder,schema,table)
print(importraster)

raster2pgsql -a -C -F -M -s 4326 -t 100x100 -N -32768 /home/denis/Downloads/1ano/clipped/*.tif chirpsX.prec_abs | psql -p 5432 -d drought -U denis

In [9]:
%%time
os.system(importraster)

CPU times: user 1.59 ms, sys: 4.7 ms, total: 6.29 ms
Wall time: 5.14 s

0

#### Creating date index from filename

In [11]:
%%time
SQL = ("""
UPDATE %s.%s
    SET acquisition = date(
    substring(filename FROM 1 FOR 4) || '-' ||
    substring(filename FROM 6 FOR 2) || '-' ||
    substring(filename FROM 9 FOR 2))::date;
    
CREATE INDEX %s_acquisition_idx
    ON %s.%s (acquisition);
"""
      %(schema,table,table,schema,table))
#execute query
%sql $SQL

DataError: (psycopg2.DataError) invalid input syntax for type date: "2002-01-ti"
 [SQL: "UPDATE chirpsX.prec_abs\n    SET acquisition = date(\n    substring(filename FROM 1 FOR 4) || '-' ||\n    substring(filename FROM 6 FOR 2) || '-' ||\n    substring(filename FROM 9 FOR 2))::date;"]

### Testing

In [26]:
point = [str(-92.891),str(42.436)]#US
point = [str(-38.8),str(-8.03)] #PB

dates = [('1980-10-29'),('2017-01-09')]

In [27]:
# POINT BASED TEST
SQL = ("""SELECT 
        rid, 
        acquisition,
        ST_Value(rast, ST_SetSRID(ST_MakePoint(%s,%s), 4326))*0.01 AS %s
    FROM %s.%s
         WHERE ST_Intersects(ST_SetSRID(ST_MakePoint(%s,%s), 4326), rast)
           AND acquisition BETWEEN '%s' AND '%s'
    ORDER BY acquisition;
"""
%(point[0],point[1],table,schema,table,point[0],point[1],dates[0],dates[1]))
print(SQL)
%sql $SQL

SELECT
        rid,
        acquisition,
        ST_Value(rast, ST_SetSRID(ST_MakePoint(-38.8,-8.03), 4326))*0.01 AS mxd16a2_raw
    FROM modis_ne2.mxd16a2_raw
         WHERE ST_Intersects(ST_SetSRID(ST_MakePoint(-38.8,-8.03), 4326), rast)
           AND acquisition BETWEEN '1980-10-29' AND '2017-01-09'
    ORDER BY acquisition;

663 rows affected.

[(578, datetime.date(2002, 7, 4), 0.83),
 (2021, datetime.date(2002, 7, 12), 0.57),
 (3464, datetime.date(2002, 7, 20), 0.73),
 (4907, datetime.date(2002, 7, 28), 0.0),
 (6350, datetime.date(2002, 8, 5), 0.0),
 (7793, datetime.date(2002, 8, 13), 0.0),
 (9236, datetime.date(2002, 8, 21), 0.81),
 (10679, datetime.date(2002, 8, 29), 0.53),
 (12122, datetime.date(2002, 9, 6), 0.49),
 (13565, datetime.date(2002, 9, 14), 0.38),
 (15008, datetime.date(2002, 9, 22), 0.45),
 (16451, datetime.date(2002, 9, 30), 0.25),
 (17894, datetime.date(2002, 10, 8), 0.3),
 (19337, datetime.date(2002, 10, 16), 0.37),
 (20780, datetime.date(2002, 10, 24), 0.36),
 (22223, datetime.date(2002, 11, 1), 0.24),
 (23666, datetime.date(2002, 11, 9), 0.34),
 (25109, datetime.date(2002, 11, 17), 0.27),
 (26552, datetime.date(2002, 11, 25), 0.0),
 (27995, datetime.date(2002, 12, 3), 0.0),
 (29438, datetime.date(2002, 12, 11), 0.0),
 (30881, datetime.date(2002, 12, 19), 0.17),
 (32324, datetime.date(2002, 12, 27), 0.85),
 (33767, datetime.date(2003, 1, 1), 1.64),
 (35210, datetime.date(2003, 1, 9), 0.61),
 (36653, datetime.date(2003, 1, 17), 0.0),
 (38096, datetime.date(2003, 1, 25), 0.0),
 (39539, datetime.date(2003, 2, 2), 1.9),
 (40982, datetime.date(2003, 2, 10), 0.0),
 (42425, datetime.date(2003, 2, 18), 0.0),
 (43868, datetime.date(2003, 2, 26), 0.0),
 (45311, datetime.date(2003, 3, 6), 3.04),
 (46754, datetime.date(2003, 3, 14), 0.0),
 (48197, datetime.date(2003, 3, 22), 0.0),
 (49640, datetime.date(2003, 3, 30), 2.4),
 (51083, datetime.date(2003, 4, 7), 0.0),
 (52526, datetime.date(2003, 4, 15), 1.87),
 (53969, datetime.date(2003, 4, 23), 2.15),
 (55412, datetime.date(2003, 5, 1), 2.97),
 (56855, datetime.date(2003, 5, 9), 2.52),
 (58298, datetime.date(2003, 5, 17), 2.07),
 (59741, datetime.date(2003, 5, 25), 1.6),
 (61184, datetime.date(2003, 6, 2), 1.35),
 (62627, datetime.date(2003, 6, 10), 1.12),
 (64070, datetime.date(2003, 6, 18), 1.04),
 (65513, datetime.date(2003, 6, 26), 1.88),
 (66956, datetime.date(2003, 7, 4), 0.87),
 (68399, datetime.date(2003, 7, 12), 0.58),
 (69842, datetime.date(2003, 7, 20), 0.0),
 (71285, datetime.date(2003, 7, 28), 0.61),
 (72728, datetime.date(2003, 8, 5), 0.6),
 (74171, datetime.date(2003, 8, 13), 0.0),
 (75614, datetime.date(2003, 8, 21), 0.43),
 (77057, datetime.date(2003, 8, 29), 0.0),
 (78500, datetime.date(2003, 9, 6), 0.58),
 (79943, datetime.date(2003, 9, 14), 0.39),
 (81386, datetime.date(2003, 9, 22), 0.32),
 (82829, datetime.date(2003, 9, 30), 0.26),
 (84272, datetime.date(2003, 10, 8), 0.23),
 (85715, datetime.date(2003, 10, 16), 0.44),
 (87158, datetime.date(2003, 10, 24), 0.42),
 (88601, datetime.date(2003, 11, 1), 0.48),
 (90044, datetime.date(2003, 11, 9), 0.0),
 (91487, datetime.date(2003, 11, 17), 0.39),
 (92930, datetime.date(2003, 11, 25), 0.22),
 (94373, datetime.date(2003, 12, 3), 0.12),
 (95816, datetime.date(2003, 12, 11), 0.3),
 (97259, datetime.date(2003, 12, 19), 0.0),
 (98702, datetime.date(2003, 12, 27), 0.17),
 (100145, datetime.date(2004, 1, 1), 0.0),
 (101588, datetime.date(2004, 1, 9), 0.0),
 (103031, datetime.date(2004, 1, 17), 0.0),
 (104474, datetime.date(2004, 1, 25), 0.0),
 (105917, datetime.date(2004, 2, 2), 3.53),
 (107360, datetime.date(2004, 2, 10), 0.0),
 (108803, datetime.date(2004, 2, 18), 2.56),
 (110246, datetime.date(2004, 2, 26), 0.0),
 (111689, datetime.date(2004, 3, 5), 0.0),
 (113132, datetime.date(2004, 3, 13), 3.56),
 (114575, datetime.date(2004, 3, 21), 0.0),
 (116018, datetime.date(2004, 3, 29), 5.41),
 (117461, datetime.date(2004, 4, 6), 2.66),
 (118904, datetime.date(2004, 4, 14), 2.84),
 (120347, datetime.date(2004, 4, 22), 3.18),
 (121790, datetime.date(2004, 4, 30), 2.67),
 (123233, datetime.date(2004, 5, 8), 3.12),
 (124676, datetime.date(2004, 5, 16), 3.04),
 (126119, datetime.date(2004, 5, 24), 3.21),
 (127562, datetime.date(2004, 6, 1), 2.4),
 (129005, datetime.date(2004, 6, 9), 2.61),
 (130448, datetime.date(2004, 6, 17), 0.0),
 (131891, datetime.date(2004, 6, 25), 1.74),
 (133334, datetime.date(2004, 7, 3), 1.63),
 (134777, datetime.date(2004, 7, 11), 1.64),
 (136220, datetime.date(2004, 7, 19), 1.16),
 (137663, datetime.date(2004, 7, 27), 1.12),
 (139106, datetime.date(2004, 8, 4), 0.0),
 (140549, datetime.date(2004, 8, 12), 1.1),
 (141992, datetime.date(2004, 8, 20), 0.0),
 (143435, datetime.date(2004, 8, 28), 0.69),
 (144878, datetime.date(2004, 9, 5), 0.84),
 (146321, datetime.date(2004, 9, 13), 0.78),
 (147764, datetime.date(2004, 9, 21), 1.01),
 (149207, datetime.date(2004, 9, 29), 0.53),
 (150650, datetime.date(2004, 10, 7), 0.38),
 (152093, datetime.date(2004, 10, 15), 0.36),
 (153536, datetime.date(2004, 10, 23), 0.0),
 (154979, datetime.date(2004, 10, 31), 0.45),
 (156422, datetime.date(2004, 11, 8), 0.45),
 (157865, datetime.date(2004, 11, 16), 0.38),
 (159308, datetime.date(2004, 11, 24), 0.33),
 (160751, datetime.date(2004, 12, 2), 0.35),
 (162194, datetime.date(2004, 12, 10), 0.52),
 (163637, datetime.date(2004, 12, 18), 0.32),
 (165080, datetime.date(2004, 12, 26), 0.53),
 (166523, datetime.date(2005, 1, 1), 0.55),
 (167966, datetime.date(2005, 1, 9), 0.0),
 (169409, datetime.date(2005, 1, 17), 1.44),
 (170852, datetime.date(2005, 1, 25), 1.85),
 (172295, datetime.date(2005, 2, 2), 0.0),
 (173738, datetime.date(2005, 2, 10), 0.0),
 (175181, datetime.date(2005, 2, 18), 2.65),
 (176624, datetime.date(2005, 2, 26), 2.24),
 (178067, datetime.date(2005, 3, 6), 0.0),
 (179510, datetime.date(2005, 3, 14), 0.0),
 (180953, datetime.date(2005, 3, 22), 0.0),
 (182396, datetime.date(2005, 3, 30), 0.0),
 (183839, datetime.date(2005, 4, 7), 0.0),
 (185282, datetime.date(2005, 4, 15), 0.0),
 (186725, datetime.date(2005, 4, 23), 0.0),
 (188168, datetime.date(2005, 5, 1), 0.0),
 (189611, datetime.date(2005, 5, 9), 5.69),
 (191054, datetime.date(2005, 5, 17), 0.0),
 (192497, datetime.date(2005, 5, 25), 4.43),
 (193940, datetime.date(2005, 6, 2), 2.58),
 (195383, datetime.date(2005, 6, 10), 0.0),
 (196826, datetime.date(2005, 6, 18), 0.0),
 (198269, datetime.date(2005, 6, 26), 2.49),
 (199712, datetime.date(2005, 7, 4), 0.0),
 (201155, datetime.date(2005, 7, 12), 3.03),
 (202598, datetime.date(2005, 7, 20), 1.67),
 (204041, datetime.date(2005, 7, 28), 0.0),
 (205484, datetime.date(2005, 8, 5), 0.0),
 (206927, datetime.date(2005, 8, 13), 1.46),
 (208370, datetime.date(2005, 8, 21), 0.0),
 (209813, datetime.date(2005, 8, 29), 0.9),
 (211256, datetime.date(2005, 9, 6), 1.08),
 (212699, datetime.date(2005, 9, 14), 0.65),
 (214142, datetime.date(2005, 9, 22), 0.39),
 (215585, datetime.date(2005, 9, 30), 0.52),
 (217028, datetime.date(2005, 10, 8), 0.49),
 (218471, datetime.date(2005, 10, 16), 0.4),
 (219914, datetime.date(2005, 10, 24), 0.31),
 (221357, datetime.date(2005, 11, 1), 0.32),
 (222800, datetime.date(2005, 11, 9), 0.23),
 (224243, datetime.date(2005, 11, 17), 0.16),
 (225686, datetime.date(2005, 11, 25), 0.66),
 (227129, datetime.date(2005, 12, 3), 0.81),
 (228572, datetime.date(2005, 12, 11), 1.4),
 (230015, datetime.date(2005, 12, 19), 1.89),
 (231458, datetime.date(2005, 12, 27), 0.0),
 (232901, datetime.date(2006, 1, 1), 0.98),
 (234344, datetime.date(2006, 1, 9), 0.77),
 (235787, datetime.date(2006, 1, 17), 0.0),
 (237230, datetime.date(2006, 1, 25), 0.36),
 (238673, datetime.date(2006, 2, 2), 0.0),
 (240116, datetime.date(2006, 2, 10), 0.0),
 (241559, datetime.date(2006, 2, 18), 0.0),
 (243002, datetime.date(2006, 2, 26), 0.0),
 (244445, datetime.date(2006, 3, 6), 0.0),
 (245888, datetime.date(2006, 3, 14), 0.0),
 (247331, datetime.date(2006, 3, 22), 0.0),
 (248774, datetime.date(2006, 3, 30), 0.0),
 (250217, datetime.date(2006, 4, 7), 0.0),
 (251660, datetime.date(2006, 4, 15), 0.0),
 (253103, datetime.date(2006, 4, 23), 0.0),
 (254546, datetime.date(2006, 5, 1), 2.75),
 (255989, datetime.date(2006, 5, 9), 0.0),
 (257432, datetime.date(2006, 5, 17), 3.45),
 (258875, datetime.date(2006, 5, 25), 0.0),
 (260318, datetime.date(2006, 6, 2), 0.0),
 (261761, datetime.date(2006, 6, 10), 2.39),
 (263204, datetime.date(2006, 6, 18), 2.29),
 (264647, datetime.date(2006, 6, 26), 0.0),
 (266090, datetime.date(2006, 7, 4), 2.09),
 (267533, datetime.date(2006, 7, 12), 0.0),
 (268976, datetime.date(2006, 7, 20), 1.34),
 (270419, datetime.date(2006, 7, 28), 1.08),
 (271862, datetime.date(2006, 8, 5), 0.0),
 (273305, datetime.date(2006, 8, 13), 0.85),
 (274748, datetime.date(2006, 8, 21), 0.69),
 (276191, datetime.date(2006, 8, 29), 0.64),
 (277634, datetime.date(2006, 9, 6), 0.63),
 (279077, datetime.date(2006, 9, 14), 0.41),
 (280520, datetime.date(2006, 9, 22), 0.39),
 (281963, datetime.date(2006, 9, 30), 0.41),
 (283406, datetime.date(2006, 10, 8), 0.21),
 (284849, datetime.date(2006, 10, 16), 0.31),
 (286292, datetime.date(2006, 10, 24), 0.55),
 (287735, datetime.date(2006, 11, 1), 0.42),
 (289178, datetime.date(2006, 11, 9), 0.0),
 (290621, datetime.date(2006, 11, 17), 0.0),
 (292064, datetime.date(2006, 11, 25), 0.37),
 (293507, datetime.date(2006, 12, 3), 0.22),
 (294950, datetime.date(2006, 12, 11), 0.4),
 (296393, datetime.date(2006, 12, 19), 0.0),
 (297836, datetime.date(2006, 12, 27), 0.0),
 (299279, datetime.date(2007, 1, 1), 0.0),
 (300722, datetime.date(2007, 1, 9), 0.64),
 (302165, datetime.date(2007, 1, 17), 0.0),
 (303608, datetime.date(2007, 1, 25), 0.0),
 (305051, datetime.date(2007, 2, 2), 0.0),
 (306494, datetime.date(2007, 2, 10), 0.0),
 (307937, datetime.date(2007, 2, 18), 0.0),
 (309380, datetime.date(2007, 2, 26), 0.0),
 (310823, datetime.date(2007, 3, 6), 0.0),
 (312266, datetime.date(2007, 3, 14), 0.0),
 (313709, datetime.date(2007, 3, 22), 0.0),
 (315152, datetime.date(2007, 3, 30), 3.41),
 (316595, datetime.date(2007, 4, 7), 2.6),
 (318038, datetime.date(2007, 4, 15), 0.0),
 (319481, datetime.date(2007, 4, 23), 2.4),
 (320924, datetime.date(2007, 5, 1), 0.0),
 (322367, datetime.date(2007, 5, 9), 2.41),
 (323810, datetime.date(2007, 5, 17), 0.0),
 (325253, datetime.date(2007, 5, 25), 2.03),
 (326696, datetime.date(2007, 6, 2), 0.0),
 (328139, datetime.date(2007, 6, 10), 0.0),
 (329582, datetime.date(2007, 6, 18), 0.0),
 (331025, datetime.date(2007, 6, 26), 1.19),
 (332468, datetime.date(2007, 7, 4), 0.76),
 (333911, datetime.date(2007, 7, 12), 0.67),
 (335354, datetime.date(2007, 7, 20), 0.76),
 (336797, datetime.date(2007, 7, 28), 0.0),
 (338240, datetime.date(2007, 8, 5), 0.74),
 (339683, datetime.date(2007, 8, 13), 0.68),
 (341126, datetime.date(2007, 8, 21), 0.61),
 (342569, datetime.date(2007, 8, 29), 0.0),
 (344012, datetime.date(2007, 9, 6), 0.0),
 (345455, datetime.date(2007, 9, 14), 0.49),
 (346898, datetime.date(2007, 9, 22), 0.43),
 (348341, datetime.date(2007, 9, 30), 0.31),
 (349784, datetime.date(2007, 10, 8), 0.4),
 (351227, datetime.date(2007, 10, 16), 0.27),
 (352670, datetime.date(2007, 10, 24), 0.23),
 (354113, datetime.date(2007, 11, 1), 0.21),
 (355556, datetime.date(2007, 11, 9), 0.22),
 (356999, datetime.date(2007, 11, 17), 0.34),
 (358442, datetime.date(2007, 11, 25), 0.24),
 (359885, datetime.date(2007, 12, 3), 0.29),
 (361328, datetime.date(2007, 12, 11), 0.0),
 (362771, datetime.date(2007, 12, 19), 0.0),
 (364214, datetime.date(2007, 12, 27), 0.0),
 (365657, datetime.date(2008, 1, 1), 2.49),
 (367100, datetime.date(2008, 1, 9), 0.58),
 (368543, datetime.date(2008, 1, 17), 0.42),
 (369986, datetime.date(2008, 1, 25), 0.0),
 (371429, datetime.date(2008, 2, 2), 1.71),
 (372872, datetime.date(2008, 2, 10), 1.44),
 (374315, datetime.date(2008, 2, 18), 2.5),
 (375758, datetime.date(2008, 2, 26), 2.73),
 (377201, datetime.date(2008, 3, 5), 0.0),
 (378644, datetime.date(2008, 3, 13), 3.77),
 (380087, datetime.date(2008, 3, 21), 4.11),
 (381530, datetime.date(2008, 4, 6), 0.0),
 (382973, datetime.date(2008, 4, 14), 0.0),
 (384416, datetime.date(2008, 4, 22), 0.0),
 (385859, datetime.date(2008, 4, 30), 4.93),
 (387302, datetime.date(2008, 5, 8), 5.16),
 (388745, datetime.date(2008, 5, 16), 0.0),
 (390188, datetime.date(2008, 5, 24), 0.0),
 (391631, datetime.date(2008, 6, 1), 4.39),
 (393074, datetime.date(2008, 6, 9), 3.63),
 (394517, datetime.date(2008, 6, 17), 3.17),
 (395960, datetime.date(2008, 6, 25), 2.89),
 (397403, datetime.date(2008, 7, 3), 2.75),
 (398846, datetime.date(2008, 7, 11), 2.44),
 (400289, datetime.date(2008, 7, 19), 2.18),
 (401732, datetime.date(2008, 8, 4), 1.35),
 (403175, datetime.date(2008, 8, 12), 1.41),
 (404618, datetime.date(2008, 8, 20), 0.0),
 (406061, datetime.date(2008, 9, 5), 1.12),
 (407504, datetime.date(2008, 9, 13), 1.03),
 (408947, datetime.date(2008, 9, 21), 0.74),
 (410390, datetime.date(2008, 9, 29), 0.76),
 (411833, datetime.date(2008, 10, 7), 1.13),
 (413276, datetime.date(2008, 10, 15), 0.0),
 (414719, datetime.date(2008, 10, 23), 0.55),
 (416162, datetime.date(2008, 11, 8), 0.34),
 (417605, datetime.date(2008, 11, 16), 0.39),
 (419048, datetime.date(2008, 12, 2), 0.68),
 (420491, datetime.date(2008, 12, 10), 0.58),
 (421934, datetime.date(2008, 12, 18), 0.61),
 (423377, datetime.date(2008, 12, 26), 1.01),
 (424820, datetime.date(2009, 1, 1), 1.39),
 (426263, datetime.date(2009, 1, 9), 1.07),
 (427706, datetime.date(2009, 1, 17), 1.22),
 (429149, datetime.date(2009, 1, 25), 3.49),
 (430592, datetime.date(2009, 2, 2), 0.0),
 (432035, datetime.date(2009, 2, 10), 0.0),
 (433478, datetime.date(2009, 2, 18), 0.0),
 (434921, datetime.date(2009, 2, 26), 0.0),
 (436364, datetime.date(2009, 3, 6), 4.56),
 (437807, datetime.date(2009, 3, 14), 4.18),
 (439250, datetime.date(2009, 3, 22), 4.82),
 (440693, datetime.date(2009, 3, 30), 0.0),
 (442136, datetime.date(2009, 4, 7), 6.71),
 (443579, datetime.date(2009, 4, 15), 4.65),
 (445022, datetime.date(2009, 4, 23), 6.37),
 (446465, datetime.date(2009, 5, 1), 3.36),
 (447908, datetime.date(2009, 5, 9), 3.9),
 (449351, datetime.date(2009, 5, 17), 0.0),
 (450794, datetime.date(2009, 5, 25), 6.86),
 (452237, datetime.date(2009, 6, 2), 3.92),
 (453680, datetime.date(2009, 6, 10), 3.27),
 (455123, datetime.date(2009, 6, 18), 1.99),
 (456566, datetime.date(2009, 6, 26), 2.78),
 (458009, datetime.date(2009, 7, 4), 3.14),
 (459452, datetime.date(2009, 7, 12), 3.41),
 (460895, datetime.date(2009, 7, 20), 3.85),
 (462338, datetime.date(2009, 7, 28), 2.52),
 (463781, datetime.date(2009, 8, 5), 2.31),
 (465224, datetime.date(2009, 8, 13), 2.0),
 (466667, datetime.date(2009, 8, 21), 2.04),
 (468110, datetime.date(2009, 8, 29), 1.55),
 (469553, datetime.date(2009, 9, 6), 0.0),
 (470996, datetime.date(2009, 9, 14), 1.28),
 (472439, datetime.date(2009, 9, 22), 0.93),
 (473882, datetime.date(2009, 9, 30), 1.04),
 (475325, datetime.date(2009, 10, 8), 0.0),
 (476768, datetime.date(2009, 10, 16), 0.7),
 (478211, datetime.date(2009, 10, 24), 0.71),
 (479654, datetime.date(2009, 11, 1), 0.66),
 (481097, datetime.date(2009, 11, 9), 0.0),
 (482540, datetime.date(2009, 11, 17), 0.68),
 (483983, datetime.date(2009, 11, 25), 0.54),
 (485426, datetime.date(2009, 12, 3), 0.0),
 (486869, datetime.date(2009, 12, 11), 0.53),
 (488312, datetime.date(2009, 12, 19), 0.0),
 (489755, datetime.date(2009, 12, 27), 0.0),
 (491198, datetime.date(2010, 1, 1), 2.81),
 (492641, datetime.date(2010, 1, 9), 2.95),
 (494084, datetime.date(2010, 1, 17), 3.0),
 (495527, datetime.date(2010, 1, 25), 3.74),
 (496970, datetime.date(2010, 2, 2), 2.1),
 (498413, datetime.date(2010, 2, 10), 2.9),
 (499856, datetime.date(2010, 2, 18), 2.39),
 (501299, datetime.date(2010, 2, 26), 3.52),
 (502742, datetime.date(2010, 3, 6), 1.51),
 (504185, datetime.date(2010, 3, 14), 1.58),
 (505628, datetime.date(2010, 3, 22), 2.33),
 (507071, datetime.date(2010, 3, 30), 0.0),
 (508514, datetime.date(2010, 4, 7), 0.0),
 (509957, datetime.date(2010, 4, 15), 4.15),
 (511400, datetime.date(2010, 4, 23), 3.14),
 (512843, datetime.date(2010, 5, 1), 1.87),
 (514286, datetime.date(2010, 5, 9), 1.52),
 (515729, datetime.date(2010, 5, 17), 1.07),
 (517172, datetime.date(2010, 5, 25), 0.0),
 (518615, datetime.date(2010, 6, 2), 0.0),
 (520058, datetime.date(2010, 6, 10), 1.42),
 (521501, datetime.date(2010, 6, 18), 1.5),
 (522944, datetime.date(2010, 6, 26), 1.74),
 (524387, datetime.date(2010, 7, 4), 1.14),
 (525830, datetime.date(2010, 7, 12), 0.71),
 (527273, datetime.date(2010, 7, 20), 0.0),
 (528716, datetime.date(2010, 7, 28), 0.0),
 (530159, datetime.date(2010, 8, 5), 1.09),
 (531602, datetime.date(2010, 8, 13), 0.58),
 (533045, datetime.date(2010, 8, 21), 0.52),
 (534488, datetime.date(2010, 8, 29), 0.76),
 (535931, datetime.date(2010, 9, 6), 0.84),
 (537374, datetime.date(2010, 9, 14), 0.52),
 (538817, datetime.date(2010, 9, 22), 0.41),
 (540260, datetime.date(2010, 9, 30), 0.22),
 (541703, datetime.date(2010, 10, 8), 0.28),
 (543146, datetime.date(2010, 10, 16), 0.0),
 (544589, datetime.date(2010, 10, 24), 1.19),
 (546032, datetime.date(2010, 11, 1), 1.37),
 (547475, datetime.date(2010, 11, 9), 0.0),
 (548918, datetime.date(2010, 11, 17), 1.52),
 (550361, datetime.date(2010, 11, 25), 1.17),
 (551804, datetime.date(2010, 12, 3), 0.0),
 (553247, datetime.date(2010, 12, 11), 0.0),
 (554690, datetime.date(2010, 12, 19), 4.04),
 (556133, datetime.date(2010, 12, 27), 1.05),
 (557576, datetime.date(2011, 1, 1), 0.0),
 (559019, datetime.date(2011, 1, 9), 0.97),
 (560462, datetime.date(2011, 1, 17), 0.0),
 (561905, datetime.date(2011, 1, 25), 2.33),
 (563348, datetime.date(2011, 2, 2), 2.93),
 (564791, datetime.date(2011, 2, 10), 4.02),
 (566234, datetime.date(2011, 2, 18), 0.0),
 (567677, datetime.date(2011, 2, 26), 0.0),
 (569120, datetime.date(2011, 3, 6), 4.11),
 (570563, datetime.date(2011, 3, 14), 4.41),
 (572006, datetime.date(2011, 3, 22), 3.82),
 (573449, datetime.date(2011, 3, 30), 5.26),
 (574892, datetime.date(2011, 4, 7), 0.0),
 (576335, datetime.date(2011, 4, 15), 4.7),
 (577778, datetime.date(2011, 4, 23), 2.06),
 (579221, datetime.date(2011, 5, 1), 3.32),
 (580664, datetime.date(2011, 5, 9), 2.81),
 (582107, datetime.date(2011, 5, 17), 3.59),
 (583550, datetime.date(2011, 5, 25), 3.21),
 (584993, datetime.date(2011, 6, 2), 3.6),
 (586436, datetime.date(2011, 6, 10), 3.47),
 (587879, datetime.date(2011, 6, 18), 3.13),
 (589322, datetime.date(2011, 6, 26), 2.94),
 (590765, datetime.date(2011, 7, 4), 0.0),
 (592208, datetime.date(2011, 7, 12), 0.0),
 (593651, datetime.date(2011, 7, 20), 0.75),
 (595094, datetime.date(2011, 7, 28), 1.25),
 (596537, datetime.date(2011, 8, 5), 1.14),
 (597980, datetime.date(2011, 8, 13), 1.05),
 (599423, datetime.date(2011, 8, 21), 1.06),
 (600866, datetime.date(2011, 8, 29), 1.03),
 (602309, datetime.date(2011, 9, 6), 1.1),
 (603752, datetime.date(2011, 9, 14), 0.0),
 (605195, datetime.date(2011, 9, 22), 0.69),
 (606638, datetime.date(2011, 9, 30), 0.63),
 (608081, datetime.date(2011, 10, 8), 0.63),
 (609524, datetime.date(2011, 10, 16), 1.05),
 (610967, datetime.date(2011, 10, 24), 0.88),
 (612410, datetime.date(2011, 11, 1), 0.0),
 (613853, datetime.date(2011, 11, 9), 2.06),
 (615296, datetime.date(2011, 11, 17), 1.28),
 (616739, datetime.date(2011, 11, 25), 1.02),
 (618182, datetime.date(2011, 12, 3), 0.88),
 (619625, datetime.date(2011, 12, 11), 0.87),
 (621068, datetime.date(2011, 12, 19), 0.0),
 (622511, datetime.date(2011, 12, 27), 1.6),
 (623954, datetime.date(2012, 1, 1), 0.44),
 (625397, datetime.date(2012, 1, 9), 0.0),
 (626840, datetime.date(2012, 1, 17), 0.0),
 (628283, datetime.date(2012, 1, 25), 0.0),
 (629726, datetime.date(2012, 2, 2), 1.79),
 (631169, datetime.date(2012, 2, 10), 0.0),
 (632612, datetime.date(2012, 2, 18), 0.0),
 (634055, datetime.date(2012, 2, 26), 3.45),
 (635498, datetime.date(2012, 3, 5), 2.31),
 (636941, datetime.date(2012, 3, 13), 0.0),
 (638384, datetime.date(2012, 3, 21), 1.86),
 (639827, datetime.date(2012, 3, 29), 1.72),
 (641270, datetime.date(2012, 4, 6), 1.27),
 (642713, datetime.date(2012, 4, 14), 1.0),
 (644156, datetime.date(2012, 4, 22), 0.93),
 (645599, datetime.date(2012, 4, 30), 1.46),
 (647042, datetime.date(2012, 5, 8), 0.79),
 (648485, datetime.date(2012, 5, 16), 1.01),

In [28]:
taime = (time.time() - t0)/60
xuleta.shemale(taime)

To:denismeia@icloud.com
From: denismeia@gmail.com
Subject:PROCESS DONE

done!

** Polygon based **

In [ ]:
dates = [('2007-10-29'),('2008-01-09')]

#POLYGON BASED TEST
SQL = ("""SELECT 
    id_2 , name_1, name_2, acquisition,
    (St_SummaryStats(St_Union(ST_Clip(rast,1,geom, true)))).*
FROM %s.%s , public.usa_adm2
WHERE st_intersects(rast,geom)
    AND acquisition BETWEEN '%s' AND '%s'
    AND name_1 IN ('Nebraska','Illinois')
GROUP BY id_2 , name_1, name_2, acquisition
ORDER BY acquisition;
"""
       %(schema,table,dates[0],dates[1]))
print(SQL)
%sql $SQL

In [ ]:
#POLYGON BASED TEST - BRASIL
SQL = ("""SELECT 
    geocodig_m , sigla, nome_munic, acquisition,
    (St_SummaryStats(St_Union(ST_Clip(rast,1,geom, true)))).*
FROM %s.%s , public.br_ne_municipios
WHERE st_intersects(rast,geom)
    AND acquisition BETWEEN '%s' AND '%s'
  --  AND sigla IN ('AL','BA','CE','MA','PB','PE','PI','SE','RN')
GROUP BY geocodig_m , sigla, nome_munic, acquisition
ORDER BY acquisition;
"""
       %(schema,table,dates[0],dates[1]))
print(SQL)
%sql $SQL

result = %sql $SQL

result = result.DataFrame()

result.to_csv("teste3.csv")

result = %sql $SQL
result = result.DataFrame()

result.sigla.unique()

result[(result.sigla == 'PE') & (result['count'] == 0)]